<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' />
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <h1>Cooking Book</h1>
                <nav>
                    <ul>
                        <li class="item {{ 'all' in app.request.requestUri ? 'active' : '' }}"><a href="{{ path('home_page', { 'name': 'all' }) }}">ALL RECEPIES</a></li>
                        {% block nav %}{% endblock %}
                    </ul>
                </nav>
            </div>


            <div class="section">
                {% block section %}{% endblock %}
            </div>

            <div class="aside">
                <h2>About</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, voluptatibus. Omnis in eum perferendis voluptatem autem. Ad, amet reiciendis! Delectus, quisquam adipisci? Neque enim numquam voluptatem debitis, impedit distinctio reprehenderit.</p>
            </div>

            <div class="footer">
                <p>Copyright 2018 - sqli.com</p>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ asset('assets/js/script.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
