{% extends 'base.html.twig' %}


{% block nav %}

    {% for category in categories %}
        <li class="item {{ category.name in app.request.requestUri ? 'active' : '' }}"><a href="{{ path('home_page', { 'name': category.name }) }}">{{ category.name | upper }}</a></li>
    {% endfor %}

{% endblock %}

{% block section %}
    <article>
        <header>
            <h2>{{ post.title }}</h2>
            <em>DECEMBER 15, 2018 - 400 Comments</em>
        </header>
        <p>{{ post.content }}</p>
    </article>



    <article>
        <header>
            <h3>Comments</h3>
        </header>
        {% for comment in post.comments %}
            <div class="comment">
                <div>
                    <img src="{{ asset('assets/img/user.svg') }}" alt="">
                    <p>{{ comment.user.username }}</p>
                </div>
                <p>{{ comment.content }}</p>
            </div>
        {% endfor %}
        {{ form(form) }}
    </article>
{% endblock %}
